body {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 1080px;
    justify-content: center;
    flex-direction: column;
    background-color: #212529!important;
}

.flex {
    display: flex;
}

.sides {
    min-width: 1000px;
    min-height: 300px;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}

.AI {
    min-width: 300px;
    height: 300px;
    color: white;
}

.player {
    min-width: 300px;
    height: 300px;
    color: white;
}

.nav-bar {
    width: 1000px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.button-action-1 {
    background-image: url(./assets/paper.png);
    background-position: center;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.button-action-2 {
    background-image: url(./assets/stone.png);
    background-position: center;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.button-action-3 {
    background-image: url(./assets/scissors.png);
    background-position: center;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}